@import "@/styles/_variables.scss";
.Login {
    .wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 100%;
            max-width: 500px;
            height: fit-content;
            padding: 30px;
            border: 1px solid $primary_color_200;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .imageContainer {
                text-align: center;
            }
            .forwardContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 0 20px 0;
                & > p {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width: $break-point-md) {
        .wrapper {
            .container {
                border: none;
                box-shadow: none;
            }
        }
    }
}