$primary_color: #009688;
$primary_color_200: #80CBC4;
$primary_color_600: #00897B;
$primary_color_400: #26A69A;
$secondary_color: #FF9800;
$background_color_1: #FFFFFF;
$background_color_2: #E4F2FE;
$error_color: #E53935;
$text_color: #525252;
$supplement_color: #4FC3F7;
$break-point-md: 960px;