$primary_color: #009688;
$primary_color_200: #80CBC4;
$primary_color_600: #00897B;
$primary_color_400: #26A69A;
$secondary_color: #FF9800;
$secondary_color_200: #FFCC80;
$secondary_color_400: #FFA726;
$secondary_color_50: #FFF3E0;
$background_color_1: #FFFFFF;
$background_color_2: #E4F2FE;
$background_color_3: #E0F2F1;
$error_color: #E53935;
$text_color: #525252;
$supplement_color: #4FC3F7;
$break-point-md: 960px;
$break-point-lg: 1100px;