@import '~antd/dist/antd.css';
@import "@/styles/_variables.scss";


html {
    --antd-wave-shadow-color: #009688;
}

h1 {
    color: $text_color;
}
h2 {
    color: $text_color;
}
p {
    color: $text_color;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $primary_color;
    border-color: $primary_color;
}
.ant-checkbox-checked::after {
    border: 1px solid $primary_color;
}
.ant-checkbox-checked::selection {
    background: $primary_color;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $primary_color;
}