@import "@/styles/_variables.scss";
@media screen and (min-width: $break-point-md) {
    .background {
        position: relative;
        height: 100%;

        .backgroundCurve {
                width: 100%;
                object-fit: fill;
        }

        .logo {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 10rem;
        }

        .menu {
            position: absolute;
            width: 200px;
            top: 0px;
            right: 200px;
            .menuRow {
                img {
                    width: 40px;
                }               
                position: static;
            }
        }

        .phone {
            position: absolute;
            right: 0px;
            bottom: 10px;
            width: 55%;
            height: auto;
        
        }

        .cornerBottomLeft {
            position: absolute;
            left: 0px;
            bottom: 0px;
            min-width: 20%;
            width: auto;
            height: auto;
        }

        .cornerTopCenter {
            position: absolute;
            top: 0px;
            left: 45%;
            min-width: 20%;
            width: auto;
            height: auto;
        }

        .slogan {
            position: absolute;
            top: 35%;
            left: 100px;

            .topic1 {
                background-color: $primary_color_600;
                padding: 5px;
                margin-bottom: 0;
                color: $background_color_1;
            }

            .topic2 {
                color: $secondary_color;
            }
        }
    }
}
